#fabim_marker_area{
	padding:1%;
	border:4px dotted #CCC;
	width: 74%;
	float: left;
	margin-top: 40px;
}

#fabim_image_area{
	position: relative;
	min-height: 100px;
	overflow: hidden;
}

#fabim_text{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: auto;
	padding:10px;
	font-size: 12px;
}

#fabim_text_area{
	width: 20%;	
	float: left;
	margin-right: 1%;
}

#fabim_btn_upload{
	margin:20px 0;
}

img#fabim_image{
	width: auto;
	height: auto;
	margin:0 auto;
	max-width: 100%;
	max-height: 100%;
	z-index: 9;
}

.fabim-top{
	top:0;
}

.fabim-bottom{
	bottom:0;
}

.fabim-left{
	left:0;
}

.fabim-right{
	right: 0;
}

.fabim-center{
	left:0;
	right: 0;
	margin: 0 auto;
}